:host {
  display: block;
}

.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }


.my-drop-zone {
  width: 100%;
  height: 300px;
  cursor: pointer;
  border: 3px dotted rgba(0,0,0,0.08);
  background: rgba(0,0,0,0.12);
  padding: 1em;
  background-image: url('../assets/reflex-camera.svg');
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
}



#draggable {
  width: 200px;
  height: 20px;
  text-align: center;
  background: white;
}

ngb-progressbar {
  margin-top: 5rem;
}

tr th {
  text-align: center
}
